# Godot-specific ignores
.import/
export.cfg

# Mono-specific ignores
.mono/
mono_crash.*.json

# Python-specific ignores
__pycache__/

# Blender-specific ignores
*.blend?

# Scons-specific ignores
*.sconsign.dblite

# Other igonres
.vscode/include/*
export/
